body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(to right,red,yellow);
}

.expense-tracker {
    background-image: linear-gradient(pink,blue,pink,purple);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #0c0707;
}

.form-group {
    margin-bottom: 15px;
   
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0d0101;
}

input[type="text"], input[type="number"], input[type="date"] {
    width: calc(100% - 10px); 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.add-expense-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.add-expense-btn:hover {
    background-color: #33b300;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #9d0d0d;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #5100ff;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #a71d2a;
}

.total {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #0a0202;
}
